<%= form_with(model: category, local: true) do |form| %>
  <div class="ui grid stackable">
    
    <% if category.errors.any? %>
      <div class="row">
        <div id="error_explanation">
          <div class="header"><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</div>
    
          <div>
            <% category.errors.full_messages.each do |message| %>
              <div class="ui message error"><%= message %></div>
            <% end %>
          </div>
          
        </div>
      </div>
    <% end %>

  <div class="row">
      <div class="ui labeled input">
          <div class="ui label">
            Name
          </div>
          <%= form.text_field :name, id: :category_name, :placeholder => "Name" %>
      </div>
  </div>
  
  <div class="row">
      <div class="ui labeled input">
          <div class="ui label">
            Description
          </div>
          <%= form.text_field :description, id: :category_description, :placeholder => "Description" %>
      </div>
  </div>

  <div class="row">
      <div class="ui labeled input">
          <div class="ui label">
            Image url
          </div>
          <%= form.text_field :image_url, id: :category_image_url, :placeholder => "Image url" %>
      </div>
  </div>

  <div class="row">
    <div >
      <%= form.submit "Submit", :class => "ui button blue" %>
    </div>
  </div>
  </div>
<% end %>
