<div class="ui grid stackable">
  
  <% if notice %>
    <div class="row">
      <div>
        <div id="notice" class="ui message info">
          <%= notice %>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <h3 class="ui header">Categories</h3>
  </div>
  
  <% if user_signed_in? && current_user.id == 3 %>
    <div class="row">
      <div>
        <%= link_to 'New Category', new_category_path, :class => "ui button blue" %>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <table class="ui celled padded table">
      <thead>
        <tr><th class="ui header h4">Name</th>
        <th>Description</th>
        <th>Picture</th>
        <th></th>
        <% if user_signed_in? && current_user.id == 3 %>
          <th></th>
          <th></th>
        <% end %>
      </tr></thead>
      <tbody>
        <% @categories.each do |category| %>
            <tr>
              <td>
                <h4 class="ui center aligned header"><%= category.name %></h4>
              </td>
              <td>
                  <%= category.description %>
              </td>
              <td class="right aligned">
                <a href="/categories/<%= category.id %>">
                  <%= image_tag category.image_url, :class => "ui tiny image" %>
                </a>
              </td>
              <% if user_signed_in? && current_user.id == 3 %>
                <td>
                  <div><%= link_to 'Edit', edit_category_path(category), :class => "ui button grey" %></div>
                </td>
                <td>
                  <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "ui button red" %></td>
                </td>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
</div>
