<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Castleisland sports store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin: 0;">
     <%= render 'common/header'%>
  
    <div class="ui centered grid stackable" style="min-height: 1000px;">
  
      <div class="row">
          <% if user_signed_in? %>
          
            <div style="margin-right: 10px; padding-top: 10px;">Profile: <%= current_user.email %></div>
            <div><%= link_to 'Edit Profile', edit_user_registration_path, :class => "ui button blue" %></div>
  
          <% end %>
        </div>
        
      <% if flash[:notice] %>
        <div class="row">
          <div>
            <div class='ui message'>
              <div class="header">
                <%= flash[:notice] %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      
      <div class="row">
        <%= yield %>
      </div>
    
    </div>
    <%=render 'common/footer'%> 
    
  </body>
</html>
